.auctions {
    width: 100%;
    background-color: #BACDBE;
    padding-bottom: 40px; 
}

.dropbtn {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown {
    padding: 15px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d3ded6;
}

.next-page-button {
    text-align: center;
    padding: 5px;
}
.description {
    margin: 3px;
    text-align: center;
}

.next-page-container {
    padding: 15px; 
    display: flex;
    justify-content: center;
}

.next-page-button {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: rgb(70, 107, 78); 
    background-color: rgb(255, 255, 255); 
    border: none; 
    border-radius: 10px; 
    padding: 7px 17px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}
.next-page-button:hover {
    background-color: #eeefef;
}

.first {
    margin-top: 7px;
    margin-bottom: 3px;
    font-family: 'Inria Serif', serif;
    font-size: 20px;
}
.last {
    margin-top: 3px;
    margin-bottom: 25px;
}
.row-1, .row-2, .row-3{
    display: flex;
    justify-content: space-around;
}
.product {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}
img {
    width:250px;
    height:250px;
}
